@use '../base' as *;

.footer {
    &_content {
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
        width: 100%;
    }

    &_form {
        width: 60%;
        fieldset {
            display: flex;
            flex-direction: column;
            border: none;
            text-transform: uppercase;
        }
    }

    &_item {
        display: flex;
        padding: 10px 0 10px 0;
        border-bottom: 2px dashed $primary;
            &:first-child {
                padding-top: 0;
            }

            &:nth-child(3) {
                align-items: inherit;
                flex-direction: column;
            }

            input {
                border:none;
                padding: 0 0 10px 10px;
                width: 100%;

                &:focus {
                    border: none;
                }
                &:active {
                    border: none;
                }
            }
            textarea {
                border: none;

                &:focus {
                    border: none;
                }
                &:active {
                    border: none;
                }
            }
    }

    &_adress {
        display: flex;
        margin: 20px 0;
        span {
            font-weight: bold;
            margin-right: 5px;
        }
    }

    &_rrss {
        display: flex;
        gap: 20px;
    }

    &_send {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        button {
            background-color: $primary;
            border-radius: 50%;
            cursor: pointer;
            color: $white;
            width: 60px;
            height: 60px;
        }
    }
}