@use '../base' as *;

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $white;
    padding: 10px;

    &_title {
        h2,a {
            font-size: 2rem;
            font-weight: bold;
            letter-spacing: 5px;
            color: $black;
            transition: all ease-in-out .5s;

            &:hover {
                color: $primary;
            }
        }
    }

    &_menu {
        ul {
            display: flex;
            gap: 15px;
            font-size: 1.5rem;

            li, a {
                font-weight: bold;
                color: $black;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    top: 30px;
                    left: 0;
                    background-color: $primary;
                    height: 5px;
                    transition: all 0.4s ease-in-out;
                    width: 0;
                }
                &:hover:after {
                    width: 100%;
                }
            }
        }
    }
}