@use '../base' as *;

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 50px;

    &_title {
        h2 a {
            font-family: $fontme;
            background-color: $black;
            border-radius: 50%;
            font-size: 2rem;
            font-weight: 300;
            color: $white;
            transition: $transitionme;
            padding: 20px 30px;

            &:hover {
                background-color: $white;
                color: $primary;
            }
        }
    }

    &_menu {
        ul {
            border-bottom: 1px solid $border;
            border-top: 1px solid $border;
            display: flex;
            gap: 25px;
            font-size: 1.3rem;

            li, a {
                text-transform: uppercase;
                color: $black;
                padding: 15px 0;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 0;
                    background-color: $primary;
                    height: 3px;
                    transition: $transition;
                    width: 0;
                }
                &:hover:before {
                    width: 100%;
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: $primary;
                    height: 3px;
                    transition: $transition;
                    width: 0;
                }
                &:hover:after {
                    width: 100%;
                }
            }
        }
    }
}