@use '../base' as *;

.presentacion {
    background-color: $primary;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 560px;
    padding:10px 50px;

    &_text {
        padding-top: 50px;
        h1 {
            background-color: $white;
            border-radius: 5px;
            font-size: 5rem;
            padding: 0px 10px;
            width: 70%;
            text-transform: uppercase;
        }

        h2 {
            font-size: 4rem;
            font-weight: 300;
            width: 70%;
        }

        button:last-child{
            margin: 0 10px;
        }
    }

    &_about {
        display: flex;
        align-items: flex-end;
        gap: 20px;

        svg {
            transition: all ease-in-out .3s;
            cursor: pointer;
            &:hover {
                fill: $white;
            }
        }
    }
}

