@use '../base' as *;

.presentacion {
    background-color: $primary;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 560px;
    padding:10px 50px;

    &_text {
        padding-top: 50px;
        h1 {
            background-color: $white;
            border-radius: 5px;
            font-size: 5rem;
            padding: 0px 10px;
            width: 70%;
            text-transform: uppercase;
        }

        h2 {
            font-size: 4rem;
            font-weight: 300;
            width: 70%;
        }

        button:last-child{
            margin: 0 10px;
        }
    }

    &_about {
        display: flex;
        justify-content:center;

        p {
            color: $white;
            font-size: 1.5rem;
            position: relative;
            outline-width:0 ;

            &:after {
                content: "";
                position: absolute;
                top: 30px;
                left: 0;
                background-color: $black;
                box-shadow: inset 0 -1px 0 0 $black;
                height: 10px;
                transition: all 0.4s ease-in-out;
                width: 100%;
            }

            &:hover:after {
                box-shadow: inset 0 -50px 0 0 $black;
                height: 50px;
            }
        }
    }
}