* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    background-color: #EEEEEE;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

.container {
    padding: 20px 50px;
    max-width: 1200px;
    margin: 0 auto;
}