/*** Colors ***/

$primary: #211922;
$secondary : #767676;
$black: #000000;
$white: #FFFFFF;
$border: #66666e;

/*** Transition ***/

$transition: all ease-in-out .3s;
$transitionme:all ease-in-out .5s;

/*** Fonts ***/

$fontme:'Yesteryear', cursive;